<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @ViewBag.Title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="links">
        <div class="cadSup">
    <a  href="/Usuario/Cadastrar">Cadastrar Usuário</a>
        </div>
        <div class="logSup" >
    <a href="/Usuario/Login">Efetuar Login</a>
        </div>
    </div>

    @RenderBody()


</body>
</html>