@section styles{
    <link href="/css/comentarios.css" rel="stylesheet" type="text/css" />
    }
@{
    ViewBag.Title = "Fazer um Comentario";
    Layout = "MasterPageLogado";
}
<div class="feed">
<h1>Comentarios</h1>

<style>
textarea{
     margin-left: 33%;
    resize: none;
     height: 275px;
    width: 565px;
}
</style>

@ViewBag.Mensagem

<form action="/Comentario/Comentar" method="POST">
      
     <textarea  name="comentario" rows="6" cols="50" required></textarea>
    <input type="submit"    value="Enviar">
    
</form>
</div>


