body {
    background-color: #405891;
}

.links {
    display: flex;
    margin: 12px;
    height: 85px;
    font-size: 30px;
}

.links a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.cadSup {
    margin: 12PX;
    transition: 0.2s;
}

.cadSup:hover {
    text-decoration: underline;
    transition: 0.9s;
}

.logSup {
    margin: 12PX;
    transition: 0.2s;
}

.logSup:hover {
    text-decoration: underline;
    transition: 0.9s;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
}

.logar {
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    width: 390px;
    margin-left: 600px;
    padding: 65px;
}

.info {
    width: 120px;
    transform: translatex(84px);
}

input {
    width: 216px;
    height: 32px;
}
.enter{
    transform: translateX(3px);
}
.enviar {
    margin: 50px;
    width: 120px;
    height: 32px;
}

label {
    color: white;
}
span {
    color: red;
    font-size: 17px;
}
