@section styles{
    <link href="/css/LoginUsuario.css" rel="stylesheet" type="text/css" />
    }
@{
    ViewBag.Title = "Login";
    Layout = "MasterPageDeslogado";
}

<div class="logar">
<h1>Login</h1>



<form class="info" action="/Usuario/Login" method="POST">
    <label  >
        Email
        <input type="text" name="email" required="true">
    </label>
    <label class="cor-azul">
        Senha
        <input type="password" name="senha" required="true">
    </label>

   <span> @ViewBag.Mensagem </span>

    <input class="enter" type="submit" value="Entrar">
</form>
</div>